force-app/main/default/flows/New_Issue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Issue_Exists_Check</name>
        <label>Issue Exists Check</label>
        <locationX>494</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>Update_Log_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Issue Exists</defaultConnectorLabel>
        <rules>
            <name>New_Issue_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Issue_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>New Issue Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Issue_Found_Decision</name>
        <label>Issue Found Decision</label>
        <locationX>170</locationX>
        <locationY>545</locationY>
        <defaultConnector>
            <targetReference>Create_New_Issue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Issue not Found</defaultConnectorLabel>
        <rules>
            <name>Existing_Issue_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Issue.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Issue_Key</targetReference>
            </connector>
            <label>Existing Issue Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>IncrementLogCount</name>
        <dataType>Number</dataType>
        <expression>IF(
ISBLANK({!Find_Existing_Issue.Log_Count__c}) ,1, 
{!Find_Existing_Issue.Log_Count__c} + 1)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>New Issue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Issue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Issue</name>
        <label>Create New Issue</label>
        <locationX>495</locationX>
        <locationY>681</locationY>
        <assignRecordIdToReference>Find_Existing_Issue.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Issue_Key</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.pharos__Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Occurred_On__c</field>
            <value>
                <elementReference>$Record.pharos__Created_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key__c</field>
            <value>
                <elementReference>$Record.pharos__Hash_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Count__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_Name__c</field>
            <value>
                <elementReference>$Record.pharos__Organization_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>$Record.pharos__Summary__c</elementReference>
            </value>
        </inputAssignments>
        <object>Issue__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Existing_Issue</name>
        <label>Find Existing Issue</label>
        <locationX>176</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Issue_Found_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pharos__Hash_1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Issue__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Log_Count__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Issue_Key</name>
        <label>Update Issue Key</label>
        <locationX>175</locationX>
        <locationY>770</locationY>
        <connector>
            <targetReference>Issue_Exists_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Issue__c</field>
            <value>
                <elementReference>Find_Existing_Issue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Log_Count</name>
        <label>Update Log Count</label>
        <locationX>174</locationX>
        <locationY>1038</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Existing_Issue.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Occurred_On__c</field>
            <value>
                <elementReference>$Record.pharos__Created_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Count__c</field>
            <value>
                <elementReference>IncrementLogCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Issue__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Existing_Issue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Issue__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pharos__Log__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Issue_Exists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewIssue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
